<div ng-controller="homeController">
    <div class='imageSlider'>
        <div style="height: 305px">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <a href='/#/search'> <img ng-src="{{slide.image}}" style="margin:auto;" width:'800' height='500'></a>
              <div class="carousel-caption">

              </div>
            </div>
          </div>
        </div>
    </div>

    <div>

    </div>

</div>
